matrix:
  fast_finish: true

notifications:
  - provider: Email
    to:
      - abbasi.sal@gmail.com
    on_build_success: true
    on_build_failure: true
    on_build_status_changed: true
    
environment:
  global:
    PYTHON: "C:\\conda"
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\ci-helpers\\appveyor\\windows_sdk.cmd"
    PYTHON_ARCH: "64" # needs to be set for CMD_IN_ENV to succeed. If a mix
                      # of 32 bit and 64 bit builds are needed, move this
                      # to the matrix section.
  matrix:
    - PYTHON_VERSION: "3.6"

platform:
  -x64

install:
  - if "%PYTHON_VERSION%" == "3.6" set "BASE_PYTHON_VERSION=3"
  - if "%PYTHON_ARCH%" == "64" set "ARCH_LABEL=-x64"
  # These are already installed on appveyor.  Update them.
  - set "CONDA_ROOT=C:\Miniconda%BASE_PYTHON_VERSION%%ARCH_LABEL%"
  - set "PATH=%CONDA_ROOT%;%CONDA_ROOT%\Scripts;%CONDA_ROOT%\Library\bin;%PATH%"
  - set PATH
  - echo CONDA_PREFIX %CONDA_PREFIX%
  - conda config --set always_yes yes
  # Use the latest conda
  - conda install -n root -q conda --no-pin
  # activate with newer conda, may set different variables
  - "%CONDA_ROOT%\\Scripts\\activate root"
  - echo CONDA_PREFIX %CONDA_PREFIX%
  - conda info -a
  - conda create --channel conda-forge --override-channels -q -n test-environment python=%PYTHON_VERSION% anaconda-client arrow-cpp pybind11 pandas numpy matplotlib ipython pyarrow pytest

# Not a .NET project, we build in the install step instead
build: false

test_script:
  - echo CONDA_PREFIX %CONDA_PREFIX%
  - "%CONDA_ROOT%\\Scripts\\activate test-environment"
  - echo CONDA_PREFIX %CONDA_PREFIX%
  - echo PATH %PATH%
  - pip install scipy
  - conda list
  - conda info -a
  - python -c "import sys; print(sys.version)"
  - python -c "import sys; print(sys.executable)"
  - python -c "import sys; print(sys.prefix)"
  - python --version
  - python setup.py build_ext --inplace
  - python -m pytest pyqstrat

  
