global-include *.txt *.cpp *.hpp *.h *.py *.ipynb *.html *.csv

include pytest.ini
include *.sh
include *.yaml
include *.yml
recursive-include pyqstrat *.gz
recursive-include apidocs *.rst
recursive-include apidocs *.sh
recursive-include pyqstrat *.rst
recursive-include pyqstrat *.sh

recursive-exclude pyqstrat/notebooks *.py
prune dist
prune docs

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude *.ipynb_checkpoints*
