botocore>=1.7.28
certifi>=2018.4.16
colorama>=0.3.7
cycler>=0.10.0
docutils>=0.14
ibapi>=9.73.6
jmespath>=0.9.3
kiwisolver>=1.0.1
matplotlib>=2.2.2
numpy>=1.15.0
pandas>=0.23.3
pyasn1>=0.3.7
pyparsing>=2.2.0
python-dateutil>=2.7.3
pytz>=2018.5
rsa>=3.4.2
s3transfer>=0.1.11
six>=1.11.0
tornado>=5.1
